main {
  max-width: 100vw;
  overflow-x: hidden;

  .container-carrousel {
    max-width: 100%;
    height: calc(100vh - 12vh);
    position: relative;
    overflow: hidden;
    display: flex;
    transition-duration: 1s;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      width: 100px;
      height: 100%;
    }
    #next {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: white;
      font-weight: bolder;
      color: white;
      font-weight: bolder;
      z-index: 1000;

      &:hover {
        background-color: #6b5f5f71;
        color: #fb04fb;
      }
    }
    #prev {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: white;
      font-weight: bolder;
      z-index: 1000;

      &:hover {
        background-color: #6b5f5f71;
        color: #fb04fb;
      }
    }

    .slide-1 {
      width: 100%;
      height: 100%;
      border: 1px solid green;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-image: url("../../images/assets/BANNER-1.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: clip;
      position: absolute;
      top: 0;
      left: 0;
      transition-duration: 400ms;
      overflow: hidden;

      &.desactive {
        left: -101%;
      }
      &.active {
        left: 0;
      }

      p {
        text-align: center;
        height: 200px;
        line-height: 200px;
        background-color: $puddin-transparent;
        border-radius: 12px;
        font-size: 3rem;
        color: white;
      }
    }

    .slide-2 {
      width: 100%;
      height: 100%;
      border: 1px solid green;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-image: url("../../images/assets/BANNER-2.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: clip;
      position: absolute;
      top: 0;
      right: -100%;
      transition-duration: 400ms;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;

      p {
        text-align: center;
        height: 200px;
        line-height: 200px;
        background-color: $puddin-transparent;
        border-radius: 12px;
        font-size: 3rem;
        color: white;
      }

      &.desactive {
        right: 100%;
        visibility: hidden;
        opacity: 0;
      }
      &.active {
        visibility: visible;
        opacity: 1;
        right: 0%;
      }
    }

    .slide-3 {
      width: 100%;
      height: 100%;
      border: 1px solid green;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-image: url("../../images/assets/banner-3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: clip;
      position: absolute;
      top: 0;
      right: -100%;
      transition-duration: 400ms;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;

      p {
        text-align: center;
        height: 200px;
        line-height: 200px;
        background-color: $puddin-transparent;
        border-radius: 12px;
        font-size: 3rem;
        color: white;
      }

      &.desactive {
        left: -101%;
        visibility: visible;
        opacity: 1;
      }

      &.active {
        visibility: visible;
        opacity: 1;
        right: 0%;
      }
    }
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: calc(100vh - 12vh);
    background-color: #00000075;
    top: 12vh;
    left: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition-duration: 1s;

    &.active {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
      cursor: pointer;
    }
  }

  .pokedex {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    border-radius: 12px;
    background-color: #392606f7;
    z-index: 10000;
    box-shadow: -3px 0px 43px white;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 600ms;

      &.active{
        visibility: visible;
        opacity: 1;
      }

    button {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 1.6rem;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: red;
        color: white;
      }
    }

    ul {
      width: 80%;
      height: 80%;
      border: 1px solid #ffffff;
      position: relative;
      
          h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            color: white;
            height: 50px;
            line-height: 50px;
            background-color: gray;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;

            button {
              position: absolute;
              right: 0;
              top: 0;
              font-size: 1rem;
              border-radius: 12px;
              width: 150px;
              height: 50px;
              background-color: #b7b77d;
            }
          }

          li{
            width: 250px;
            height: 300px;
            border: 1px solid white;
            border-radius: 12px;

                .nome-poke{
                  width: 100%;
                  height: 40px;
                  border: 1px solid blue;
                  position: relative;
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  color: wheat;
                  border-top-left-radius: 12px;
                  border-top-right-radius: 12px;

                  .perfil-poke{
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    border: 1px solid blue;
                    border-radius: 50%;
                      img{
                        width: 100%;
                        height: 100%;
                      }
                  }

                  p{
                    font-size: 0.8rem;
                  }
                }
          }
    }
  }
}
