* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  overflow-x: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

header {
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #318652;
  padding: 0 20px;
  transition-duration: 400ms;
}
header .logo {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
header .logo img {
  width: 80%;
  height: 70%;
}
header nav {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
header nav .burguer {
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  transition-duration: 400ms;
  cursor: pointer;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
header nav .burguer .bar {
  width: 100%;
  height: 4px;
  border-radius: 12px;
  background-color: black;
}
header nav ul {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 40px;
  transition-duration: 400ms;
}
header nav ul li {
  width: 20%;
}
header nav ul li a {
  color: #a6bdf8;
  font-size: 1rem;
}
header nav ul li a:hover {
  color: #def4eb;
}
header .btn-login {
  width: 7rem;
  height: 3rem;
  border-radius: 12px;
  outline: none;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: bold;
  background-color: #00fffb;
  transition-duration: 100ms;
}
header .btn-login:hover {
  border: 2px solid black;
  background-color: #97f4cd;
}
header .btn-login:active {
  transform: scale(0.98);
  box-shadow: 0px 5px 10px rgba(246, 104, 104, 0.7294117647);
}
header .ligth-dark-mode {
  position: absolute;
  right: 9rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-image: url("../../images/icons8-moon-100.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: 400ms;
  cursor: pointer;
}
header .ligth-dark-mode:hover {
  transform: scale(1.1);
}
header .ligth-dark-mode.dia {
  background-image: url("../../images/svg/icons8-sol-500.svg");
}

main {
  max-width: 100vw;
  overflow-x: hidden;
}
main .container-carrousel {
  max-width: 100%;
  height: 88vh;
  position: relative;
  overflow: hidden;
  display: flex;
  transition-duration: 1s;
}
main .container-carrousel span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 100px;
  height: 100%;
}
main .container-carrousel #next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
  font-weight: bolder;
  color: white;
  font-weight: bolder;
  z-index: 1000;
}
main .container-carrousel #next:hover {
  background-color: rgba(107, 95, 95, 0.4431372549);
  color: #fb04fb;
}
main .container-carrousel #prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
  font-weight: bolder;
  z-index: 1000;
}
main .container-carrousel #prev:hover {
  background-color: rgba(107, 95, 95, 0.4431372549);
  color: #fb04fb;
}
main .container-carrousel .slide-1 {
  width: 100%;
  height: 100%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("../../images/assets/BANNER-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: clip;
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 400ms;
  overflow: hidden;
}
main .container-carrousel .slide-1.desactive {
  left: -101%;
}
main .container-carrousel .slide-1.active {
  left: 0;
}
main .container-carrousel .slide-1 p {
  text-align: center;
  height: 200px;
  line-height: 200px;
  background-color: rgba(0, 0, 0, 0.5215686275);
  border-radius: 12px;
  font-size: 3rem;
  color: white;
}
main .container-carrousel .slide-2 {
  width: 100%;
  height: 100%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("../../images/assets/BANNER-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: clip;
  position: absolute;
  top: 0;
  right: -100%;
  transition-duration: 400ms;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}
main .container-carrousel .slide-2 p {
  text-align: center;
  height: 200px;
  line-height: 200px;
  background-color: rgba(0, 0, 0, 0.5215686275);
  border-radius: 12px;
  font-size: 3rem;
  color: white;
}
main .container-carrousel .slide-2.desactive {
  right: 100%;
  visibility: hidden;
  opacity: 0;
}
main .container-carrousel .slide-2.active {
  visibility: visible;
  opacity: 1;
  right: 0%;
}
main .container-carrousel .slide-3 {
  width: 100%;
  height: 100%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("../../images/assets/banner-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: clip;
  position: absolute;
  top: 0;
  right: -100%;
  transition-duration: 400ms;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}
main .container-carrousel .slide-3 p {
  text-align: center;
  height: 200px;
  line-height: 200px;
  background-color: rgba(0, 0, 0, 0.5215686275);
  border-radius: 12px;
  font-size: 3rem;
  color: white;
}
main .container-carrousel .slide-3.desactive {
  left: -101%;
  visibility: visible;
  opacity: 1;
}
main .container-carrousel .slide-3.active {
  visibility: visible;
  opacity: 1;
  right: 0%;
}
main .overlay {
  position: fixed;
  width: 100%;
  height: 88vh;
  background-color: rgba(0, 0, 0, 0.4588235294);
  top: 12vh;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-duration: 1s;
}
main .overlay.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}
main .pokedex {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  border-radius: 12px;
  background-color: rgba(57, 38, 6, 0.968627451);
  z-index: 10000;
  box-shadow: -3px 0px 43px white;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 600ms;
}
main .pokedex.active {
  visibility: visible;
  opacity: 1;
}
main .pokedex button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}
main .pokedex button:hover {
  background-color: red;
  color: white;
}
main .pokedex ul {
  width: 80%;
  height: 80%;
  border: 1px solid #ffffff;
  position: relative;
}
main .pokedex ul h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: white;
  height: 50px;
  line-height: 50px;
  background-color: gray;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
main .pokedex ul h1 button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1rem;
  border-radius: 12px;
  width: 150px;
  height: 50px;
  background-color: #b7b77d;
}
main .pokedex ul li {
  width: 250px;
  height: 300px;
  border: 1px solid white;
  border-radius: 12px;
}
main .pokedex ul li .nome-poke {
  width: 100%;
  height: 40px;
  border: 1px solid blue;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: wheat;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
main .pokedex ul li .nome-poke .perfil-poke {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid blue;
  border-radius: 50%;
}
main .pokedex ul li .nome-poke .perfil-poke img {
  width: 100%;
  height: 100%;
}
main .pokedex ul li .nome-poke p {
  font-size: 0.8rem;
}

/*--------------------------RESPONSIVIDADE GERAL----------------------------------*/
@media screen and (max-width: 480px) {
  header .logo {
    width: 30%;
  }
  header .logo img {
    height: 40%;
  }
  header nav .burguer {
    width: 30px;
    height: 25px;
    visibility: visible;
    opacity: 1;
    right: 30px;
  }
  header nav ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 88vh;
    right: 0;
    top: 12vh;
    flex-direction: column;
    align-items: center;
    background-color: #025e44;
    gap: 20px;
    overflow: hidden;
    z-index: 10000;
  }
  header nav ul li {
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }
  header nav ul li a {
    font-size: 1rem;
  }
  header nav ul.active {
    width: 100%;
    visibility: visible;
    opacity: 1;
  }
  header .btn-login {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 0;
    transition-duration: 400ms;
    z-index: 10000;
  }
  header .btn-login:hover {
    background-color: #97f4cd;
  }
  header .btn-login.active {
    visibility: visible;
    opacity: 1;
    top: 88vh;
    right: 20px;
  }
  header .ligth-dark-mode {
    visibility: hidden;
    opacity: 0;
    top: 13vh;
    right: 0;
    transition-duration: 800ms;
    z-index: 10000;
  }
  header .ligth-dark-mode.active {
    visibility: visible;
    opacity: 1;
    right: 80%;
  }
  main .container-carrousel #next {
    width: 50px;
    font-size: 2rem;
    right: 0;
    transform: translateY(-50%);
  }
  main .container-carrousel #prev {
    width: 50px;
    font-size: 2rem;
    left: 0;
    transform: translateY(-50%);
  }
  main .container-carrousel .slide-1, main .container-carrousel .slide-2, main .container-carrousel .slide-3 {
    background-position: center;
  }
  main .container-carrousel .slide-1 p, main .container-carrousel .slide-2 p, main .container-carrousel .slide-3 p {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    line-height: normal;
    font-size: 1rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  /* tablets */
  header .logo {
    width: 35%;
  }
  header .logo img {
    width: 90%;
  }
  header nav .burguer {
    visibility: visible;
    opacity: 1;
    right: 30px;
    z-index: 10000;
  }
  header nav ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 88vh;
    right: 0;
    top: 12vh;
    flex-direction: column;
    align-items: center;
    background-color: #025e44;
    gap: 20px;
    overflow: hidden;
    z-index: 10000;
  }
  header nav ul li {
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }
  header nav ul li a {
    font-size: 1.3rem;
  }
  header nav ul.active {
    width: 50%;
    visibility: visible;
    opacity: 1;
  }
  header .btn-login {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 0;
    top: 88vh;
    transition-duration: 400ms;
    z-index: 10000;
  }
  header .btn-login.active {
    visibility: visible;
    opacity: 1;
    top: 88vh;
    right: 20px;
  }
  header .ligth-dark-mode {
    visibility: hidden;
    opacity: 0;
    top: 12vh;
    right: 0;
    transition-duration: 600ms;
    z-index: 10000;
  }
  header .ligth-dark-mode.active {
    visibility: visible;
    opacity: 1;
    right: 40%;
  }
  main .container-carrousel #next {
    width: 50px;
    font-size: 2rem;
    right: 0;
    transform: translateY(-50%);
  }
  main .container-carrousel #prev {
    width: 50px;
    font-size: 2rem;
    left: 0;
    transform: translateY(-50%);
  }
  main .container-carrousel .slide-1, main .container-carrousel .slide-2, main .container-carrousel .slide-3 {
    background-position: center;
  }
}
@media screen and (min-width: 901px) {
  header nav ul {
    width: 60%;
    gap: 5px;
  }
  header nav ul li a {
    display: inline;
    font-size: 1.2rem;
  }
  main .container-carrousel #next {
    width: 50px;
    font-size: 2rem;
    right: 0;
    transform: translateY(-50%);
  }
  main .container-carrousel #prev {
    width: 50px;
    font-size: 2rem;
    left: 0;
    transform: translateY(-50%);
  }
  main .container-carrousel .slide-1, main .container-carrousel .slide-2, main .container-carrousel .slide-3 {
    background-position: center;
    background-size: 100%;
  }
}
/*--------------------------------------------------------------------------------*/
body {
  transition-duration: 1s;
  background-color: #ebdcdc;
}
body.active {
  background-color: #939393;
}
body.active header {
  background-color: #004f37;
}
body.active header .burguer .bar {
  background-color: #FFF;
}
body.active header ul {
  background-color: #014633;
}
body.active header a {
  color: #00ff9d;
}
body.active header button {
  color: #dbfff1;
  background-color: #3e620c;
}
body.active header button:hover {
  background-color: #004f37;
}/*# sourceMappingURL=style.css.map */