* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  overflow-x: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  position: relative;
}



//********///ESPACO DE IMPORTS///*****************//
@import "ultilites/color-paint";//***************//
@import "divisao_de_paginas/header"; //*********//
@import "divisao_de_paginas/main"; //**********//
@import "divisao_de_paginas/footer"; //*******//
@import "divisao_de_paginas/media-Query";//**//
//******************************************//
body{
  transition-duration: 1s;
background-color: $puddin-bg-body-lgh-mode;
  &.active{
    background-color: $puddin-bg-body-dark-mode;

    
    header{
      background-color: $puddin-header-bg-dark-mode-color;

      .burguer{
        .bar{
          background-color: #FFF;
        }
      }
      
      ul{
        background-color: $puddin-bg-menu-open-dark-mode;
      }
      a{
        color: $puddin-link-anchor-header-dark-mode;
      }

      button{
        color: $puddin-button-color-anchor-header-dark-mode;
        background-color: $puddin-button-anchor-header-dark-mode;

          &:hover{
            background-color: $puddin-header-bg-dark-mode-color;
          }
      }
    }

  }
}
